---
const trucks = [
{
      image: "/unidades/jac.jpeg", // Agrega aquí el enlace para la imagen
      alt: "JAC Eléctrico 2024",
      title: "JAC Eléctrico",
      year: "2024",
      price: "$2,700,000",
  },
  {
    image: "/unidades/vw9150.jpeg",
    alt: "Volkswagen 9.150 Ayco 2018",
    title: "Volkswagen 9.150 Ayco",
    year: "2018",
    price: "$730,000",
  },
  {
    image: "/unidades/vw8150.jpeg", // Agrega aquí el enlace para la imagen

    alt: "Volkswagen 8.150 2016",
    title: "Volkswagen 8.150",
    year: "2016",
    price: "$580,000",
  },
  {
    image: "/unidades/mb1319.jpg", // Agrega aquí el enlace para la imagen
    alt: "Autobuses MB 2014",
    title: "Autobuses MB",
    year: "2014",
    price: "$680,000",
  },
  {
    image: "/unidades/sprinter.jpg", // Agrega aquí el enlace para la imagen
    alt: "MB Sprinter 2016",
    title: "MB Sprinter",
    year: "2016",
    price: "$580,000",
  },
  {
    image: "/unidades/sub.jpg", // Agrega aquí el enlace para la imagen
    alt: "Suburban 2012",
    title: "Suburban",
    year: "2012",
    price: "$300,000",
  },
  {
    image: "/unidades/mbZ.jpeg", // Agrega aquí el enlace para la imagen
    alt: "MB Zafiro 2018",
    title: "MB Zafiro",
    year: "2018",
    price: "$1,090,000",
  },

  {
    image: "/unidades/fT.jpg", // Agrega aquí el enlace para la imagen
    alt: "Ford Transit 2019",
    title: "Ford Transit",
    year: "2019",
    price: "$580,000",
  },
  {
    image: "/unidades/vwC.jpeg", // Agrega aquí el enlace para la imagen
    alt: "Volkswagen Cráter 2016",
    title: "Volkswagen Cráter",
    year: "2016",
    price: "$680,000",
  },
];

---

<div class="bg-white py-8">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <h2 class="text-2xl text-center font-bold tracking-tight text-gray-900">UNIDADES DISPONIBLES</h2>

    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      {trucks.map((truck) => (
        <div class="group relative">
          <img src={truck.image} alt={truck.alt} class="aspect-square w-full rounded-md bg-gray-200 object-cover  lg:aspect-auto lg:h-80">
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700">

                  <span aria-hidden="true" class="absolute inset-0"></span>
                  {truck.title}

              </h3>
              <p class="mt-1 text-sm text-gray-500">{truck.year}</p>
            </div>
            <p class="text-sm font-medium text-gray-900">{truck.price}</p>
          </div>
        </div>
      ))}
    </div>
  </div>
</div>